In [1]:
# imports
import pandas as pd

In [3]:
reports = pd.read_csv("bfro_reports_geocoded.csv")
reports.head()

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,moon_phase,precip_intensity,precip_probability,precip_type,pressure,summary,uv_index,visibility,wind_bearing,wind_speed
0,I was canoeing on the Sipsey river in Alabama....,NaN,Winston County,Alabama,Summer,NaN,NaN,NaN,NaN,30680.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Ed L. was salmon fishing with a companion in P...,East side of Prince William Sound,Valdez-Chitina-Whittier County,Alaska,Fall,NaN,NaN,NaN,NaN,1261.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"While attending U.R.I in the Fall of 1974,I wo...","Great swamp area, Narragansett Indians",Washington County,Rhode Island,Fall,Report 6496: Bicycling student has night encou...,41.45,-71.5,1974-09-20,6496.0,...,0.16,0.0,0.0,NaN,1020.61,Foggy until afternoon.,4.0,2.75,198.0,6.92
3,"Hello, My name is Doug and though I am very re...",I would rather not have exact location (listin...,York County,Pennsylvania,Summer,NaN,NaN,NaN,NaN,8000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,It was May 1984. Two friends and I were up in ...,"Logging roads north west of Yamhill, OR, about...",Yamhill County,Oregon,Spring,NaN,NaN,NaN,NaN,703.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
reports.describe()

,latitude,longitude,number,temperature_high,temperature_mid,temperature_low,dew_point,humidity,cloud_cover,moon_phase,precip_intensity,precip_probability,pressure,uv_index,visibility,wind_bearing,wind_speed
count,4045.000000,4045.000000,5021.000000,3338.000000,3186.000000,3189.000000,3373.000000,3373.000000,3084.000000,3396.000000,2712.000000,2710.000000,2619.000000,3392.000000,3049.000000,3387.000000,3389.000000
mean,39.363271,-97.423304,21520.234814,67.117693,57.843377,48.638768,46.233433,0.705672,0.438982,0.497968,0.005708,0.295771,1017.081184,5.161262,8.492446,196.572483,3.866081
std,5.684022,16.727556,19259.146267,17.782389,16.396587,15.943817,16.444482,0.160626,0.332981,0.288318,0.050128,0.418053,6.144359,3.136283,2.060151,96.375443,3.284466
min,25.141000,-167.131000,60.000000,-0.620000,-8.455000,-22.780000,-11.210000,0.080000,0.000000,0.000000,0.000000,0.000000,980.340000,0.000000,0.740000,0.000000,0.000000
25%,35.345720,-117.057900,4595.000000,55.140000,46.767500,37.500000,34.770000,0.620000,0.120000,0.250000,0.000000,0.000000,1013.420000,3.000000,7.660000,128.000000,1.340000
50%,39.304500,-91.767330,15473.000000,69.975000,59.360000,49.400000,46.690000,0.730000,0.400000,0.490000,0.000000,0.000000,1016.960000,5.000000,9.451000,203.000000,2.930000
75%,43.931100,-83.069770,33979.000000,81.095000,70.380000,60.660000,59.000000,0.820000,0.730000,0.750000,0.001500,0.730000,1020.635000,8.000000,10.000000,273.000000,5.560000
max,64.891390,-68.228300,71997.000000,106.510000,94.030000,84.340000,77.400000,1.000000,1.000000,1.000000,2.069000,1.000000,1042.410000,13.000000,10.000000,359.000000,23.940000